.videolist {
  flex: 1 0 200px;
  padding: 15px;
  background-color: #eee;
  margin: 0 10px 10px 10px;
  border-radius: 3px;
}

.videolist p {
  margin: 0 0 15px;
}

.itemvideolist {
  margin-bottom: 10px;
}
